{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block title %}
	<title>Listings</title>
	{% endblock %}
</head>
<body>
	
	{% block body %}
		<!-- Messages block -->
		    {% if messages %}
		    {% for message in messages %}
		    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
		        {{ message }}
		    </div>
		    {% endfor %}
		    {% endif %}
	    <!-- End of messages block -->
			Listings
			<a href="{% url 'login' %}">Logout</a>
	{% endblock %}


{% block content %}
{% endblock %}

{% block 'footer'%}
<footer>
    <div>
        <p>
            Powered by <a href="#">Data Science- Dept</a>
        </p>
        <p>MALVAC</p>
        <p>Copyright © {% now 'Y' %} <a href="#">KHRC</a></p>
    </div>
</footer>
{% endblock %}
</body>
</html>